---
permalink: /opensearch.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/">
  <ShortName>MHTR</ShortName>
  <Description>Search Mukundara Hills Tiger Reserve maps, biodiversity notes, documents and field reports.</Description>
  <InputEncoding>UTF-8</InputEncoding>
  <Image width="48" height="48" type="image/png">{{ site.url }}/assets/imgs/mhtr-favicon-48.png</Image>
  <Url type="text/html" template="{{ site.url }}/search/?q={searchTerms}" />
</OpenSearchDescription>
